body {
  background: #ece8d9;
  font-family: "DM Serif Text", serif;
}
.container {
  background: white;
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  margin: 40px;
}
h1 {
  text-align: center;
  font-size: 48px;
}
form {
  padding: 10px;
  display: flex;
}

.text-input {
  width: 80%;
  color: grey;
  height: 25%;
  padding: 10px 20px;
  font-size: 18px;
  border: solid 3px black;
  margin: 5px;
  border-radius: 10px;
}
.text-submit {
  height: 25%;
  padding: 10px 20px;
  font-size: 18px;
  border: solid 3px black;
  margin: 5px;
  border-radius: 10px;
  background: #faf6e9;
  transition: all 150ms ease-in-out;
}
.text-submit:hover {
  color: white;
  background: black;
  border: 3px solid #faf6e9;
  transform: scale(1.1);
}
.hint {
  margin-left: 25px;

  font-style: italic;
  font-size: 16px;
}
.poem-output {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  border-top: 3px dashed grey;
  border-bottom: 3px dashed grey;
  padding: 20px;
  line-height: 34px;
}
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.hidden {
  display: none;
}
.poem-output em {
  color: #929aab;
  font-size: 20px;
}
footer {
  text-align: center;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
}
a {
  color: grey;
  transition: all 150ms ease-in-out;
}
a:hover {
  color: #494949;
  cursor: pointer;
  font-size: 16px;
}
